{% extends "browser/base.html" %}

{% block bodyclass %}homepage{% endblock %}

{% block bodycontent %}
<style type="text/css">
#header-wrapper
{
    border-bottom: 0px;
}
</style>
		<!-- Banner Wrapper -->
			<div id="banner-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- Banner -->
								<div id="banner" class="box">

									<div>
										<div class="row">
											<div class="7u">
											    {% block bannerleft %}
												<h3>Welcome to Genecology.org</h3>
												<p>A <span style="color: #ff7f0e; font-size: 1.25em;">digital history</span> of evolutionary population ecology in 20th-century Britain, and beyond.</p>
												{% endblock %}
											</div>
											<div class="5u">
											    {% block bannerright %}
												<ul>
													<li><a href="#" class="button big fa fa-arrow-circle-right">Ok, let's go</a></li>
													<li><a href="#genewhat" class="button alt big fa fa-question-circle">Gene..what?</a></li>
												</ul>
											    {% endblock %}
											</div>
										</div>
									</div>
								
								</div>

						</div>
					</div>
				</div>
			</div>

<!-- 

		<!~~ Features Wrapper ~~>
			<div id="features-wrapper">
				<div class="container">
					<div class="row">
						<div class="4u">
						
							<!~~ Box ~~>
								<section class="box box-feature">
									<a href="#" class="image image-full"><img src="/static/browser/images/genecology_graph_small.png" alt="" /></a>
									<div class="inner">
										<header>
											<h2>A Complex Network</h2>
<!~~ 											<span class="byline">Maybe here as well I think</span> ~~>
										</header>
										<p>Genecological research involved a diverse array of participants at a wide variety of institutions in Britain, and beyond. We use computational methods in conjunction with archival materials, oral histories, and social network analysis to reconstruct and contextualize the shifting patterns of collaboration and discourse among plant ecologists who engaged in genecological research. The result is a <span style="font-weight: 600;">complex and evolving network of researchers, institutions, organisms, and concepts.</span></p>
									</div>
								</section>

						</div>
						<div class="4u">
						
							<!~~ Box ~~>
								<section class="box box-feature">
									<a href="#" class="image image-full"><img src="/static/browser/images/aber.png" alt="" /></a>
									<div class="inner">
										<header>
											<h2>Ideas in Context</h2>
										</header>
										<p>Understanding how scientific ideas change involves more than merely reading old books and papers. Scientific concepts are the products not only of rigorous experimental and mathematical work, but also of people, places, and organisms. The Genecology Project combines <span style="font-weight: 600;">big-data analysis of the scientific literature with oral history and archival research</span> that uncovers the personalities, events, and contexts in which genecological research has taken place.</p>
									</div>
								</section>

						</div>
						<div class="4u">
						
							<!~~ Box ~~>
								<section class="box box-feature last">
									<a href="#" class="image image-full"><img src="/static/browser/images/semantic_network.png" alt="" /></a>
									<div class="inner">
										<header>
											<h2>A Fresh Approach</h2>
										</header>
										<p>The Genecology Project pioneers digital and computational modes of scholarship in the history and philosophy of science, bringing together large volumes of data from a variety of sources into an open, collaborative, and ever-expanding knowledge-base. <span style="font-weight: 600;">Learn more about what the Genecology Project is doing to push the boundaries of HPS research.</span></p>
									</div>
								</section>

						</div>
					</div>
				</div>
			</div>

		<!~~ Main Wrapper ~~>
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="4u">
						
							<!~~ Sidebar ~~>
								<div id="sidebar">
									<section class="widget-thumbnails">
										<h3>Learn more...</h3>
										<div class="grid">
											<div class="row no-collapse half">
												<div class="6u"><a href="#" class="image image-full" id="methods"><img src="http://devo-evo.lab.asu.edu/diging/sites/all/themes/simplecorp/images/projects/vVogon.png" alt="Our Methods" class="infoover" id="methods" /></a></div>
												<div class="6u"><a href="#" class="image image-full" id="people"><img src="/static/browser/images/Bianca2012.jpeg" alt="Our People" class="infoover" id="people" /></a></div>
											</div>
											<div class="row no-collapse half">
												<div class="6u"><a href="#" class="image image-full" id="diging"><img src="/static/browser/images/diging.png" alt="ASU DigInG" class="infoover" id="diging" /></a></div>
												<div class="6u"><a href="#" class="image image-full"><img src="" alt="" style="border:1px solid black;" height="174" /></a></div>
											</div>
										</div>
<!~~ 										<a href="http://html5up.net/" class="button fa fa-file-text-o">More</a> ~~>
									</section>
								</div>
						
						</div>
						<div class="8u">

							<!~~ Content ~~>
                                <a name="genewhat"></a>
								<div id="content">
									<section class="last">
										<h2>So, what's this all about?</h2>
										<p style="line-height: 140%;"><span style="font-weight: 600; font-size: 1.5em;">Just how fast is adaptive evolution?</span> Most people think of evolution as a painfully slow process. After all, much of what we know about evolution comes from studying the fossil record, and tracing gradations of form over millions of years. But as <span style="color: #ff7f0e; font-weight: 600;">countless species face displacement and extinction due to climate change and habitat loss</span>, scientists have wondered whether some species might be able to evolve quickly enough to keep pace with their shifting circumstances. Today, <span style="color: #ff7f0e;">scientists and policy-makers</span> understand that adaptive evolution can sometimes happen <span style="font-weight: 600; font-size: 1.5em;">very rapidly</span>, and on <span style="font-weight: 600;  font-size: 1.5em;">very small spatial scales.</span></p>
										<p style="line-height: 140%;"><span style="font-weight: 600; font-size: 1.5em;">So where did these ideas come from, anyway?</span> The idea that adaptive evolution can be very fast and very local is not new, but it's not that old, either. Much of what we know about the speed and scale of adaptive evolution comes from over a century of research by <span style="color: #ff7f0e; font-weight: 600;font-size: 1.5em;">genecologists</span>, <span style="color: #ff7f0e;">plant scientists who study the distribution of genetic variation within individual species in relation to spatial and temporal variation in the environment.</span> The Genecology Project studies the rich history of this scientific field, documenting the people, places, and organisms involved in genecological research, and <span style="font-weight: 600; font-size: 1.5em;">how and why ideas about the temporal and spatial scales of adaptive evolution changed over the course of the 20th century.</span></p>
										    <p></p>
<!~~ 										<a href="http://html5up.net/" class="button fa fa-arrow-circle-right">More @ HTML5 UP</a> ~~>
									</section>
								</div>

						</div>
					</div>
				</div>
			</div>
			
 -->
			<style>
.infoover:hover{
    opacity: 0.2;
}		

.temp-hover {
    position:relative;
    top:-100px;
    text-align:center;
    width: 177px;
    margin-bottom: -40px;
    font-size: 1.25em;
    line-height: 150%;
    font-weight: 800;
    background: rgba(255, 255, 255, 0.8);
}

.box-feature p {
    line-height: 140%;
}
			</style>
			<script>
$('.infoover').hover(function(e) {
    var a_label = $('a[id="'+e.target.id+'"]').append( '<div class="temp-hover">'+e.target.alt+'</div>' );
}, function(e) {
    $('.temp-hover').remove();
});

			</script>
			{% endblock %}