{% extends "browser/base_leftsidebar.html" %}

{% block sidebar %}
    <div class='scrollable'>
        <section>
            <div id="network-visualization"></div>
            <div id="network-link"></div>
        </section>

        <section>
            <div id="element_details">
                <h3 class="element_details_title"></h3>
                <ul class="element_details_list">
                    <li class="element_details_uri"></li>
                    <li class="element_details_type"></li>
                </ul>
            </div>
        </section>

        <section>
            <div id="element_texts">
                <h3 class="element_texts_title"></h3>
                <ul class="element_texts_list"></ul>
            </div>
        </section>
    </div>
<!-- 
                                    {% if leftlist %}
									<section>
										<h3>{{ leftlist.title }}</h3>
                                        <ul class="style2">
                                            {% for item in leftlist.items %}
											<li>{% for i in item %}<span>{% if i.link %}<a href="{{ i.link }}">{% endif %}{{ i.text }}{% if i.link %}</a>{% endif %}</span>{% endfor %}</li>
                                            {% endfor %}
										</ul>
										{% if leftlist.footer %}
										<footer>
											<a href="{{ leftlist.footer.link }}" class="button fa fa-info-circle">{{ leftlist.footer.text }}</a>
										</footer>
										{% endif %}

									</section>
 -->
								    {% endif %}



	<!-- 
								<section>
										<h3>Subheading</h3>
										<ul class="style2">
											<li><a href="#">Amet turpis, feugiat et sit amet</a></li>
											<li><a href="#">Ornare in hendrerit in lectus</a></li>
											<li><a href="#">Semper mod quis eget mi dolore</a></li>
											<li><a href="#">Quam turpis feugiat sit dolor</a></li>
											<li><a href="#">Amet ornare in hendrerit in lectus</a></li>
											<li><a href="#">Semper mod quisturpis nisi</a></li>
										</ul>
									</section>
 -->
 
 {% endblock %}

{% block maincontent %}
<h2>{{ title }}</h2>
{% if subtitle %}<h3>{{ subtitle }}</h3>{% endif %}
<pre id="textcontent">{{ text }}</pre>
{% endblock %}

{% block endscripts %}


<link rel="stylesheet" href="/static/browser/css/leaflet.css" />
<link rel="stylesheet" href="/static/browser/css/network.css" />
<script src="/static/browser/js/network.js"> </script>
<script type="text/javascript">

var textTop = $('[id="main-wrapper"] .container').position().top;
var footerTop = $('[id="main-wrapper"] .container').position().top + $('[id="main-wrapper"] .container').height();
var windowHeight = $( window ).height();

(function($) {
    $.fn.goTo = function() {
        var targetPos = $(this).offset().top;
        var maxPos = footerTop - windowHeight;
        if (targetPos > maxPos) {
            targetPos = maxPos;
        }
        $('html, body').animate({
            scrollTop: targetPos + 'px'
        }, 'fast');
        return this; // for chaining...
    }
})(jQuery);

// Dimensions of the network visualization.
var width = 300,
    height = 300;
var text_id = "{{ text_id }}";
var text_present = true;

network_visualization("{{ network_id }}");

$(function(){
    $(window).on('scroll', function () {
        var scrollPos = $(document).scrollTop();
        var scrollTop = $('.scrollable').position().top;
        var scrollBottom = $('.scrollable').position().top + $('.scrollable').height();
        if (scrollPos > textTop && (scrollPos + windowHeight) < footerTop) {
            $('.scrollable').css({
                top: (scrollPos - textTop) + 10
            });
        }
    }).scroll();
});


</script>


{% endblock %}