<html>
    <head>

<style>


</style>
 <link rel="stylesheet" href="/static/browser/css/leaflet.css" />
 <link rel="stylesheet" href="/static/browser/css/network.css" />
    </head>


    <body>
        <div id="network-visualization"></div>
        <script src="/static/browser/js/d3.min.js"></script>
        <script src="/static/browser/js/leaflet.js"></script>    
        <script src="/static/browser/js/timeserieschart.js"></script>     
        <script>
        var height=450;
        var width=600;   
        </script>
        <script src="/static/browser/js/map.js"></script>
        <script>
        geographic_visualization("1");
        </script>
    </body>

</html>