{% extends "browser/base_rightsidebar.html" %}

{% block sidebar %}

<section>
    <div id="network-visualization"></div>
</section>

<section>
    <div id="instructions">Click on a node or edge for more information.</div>
    <div id="element_details">
        <h3 class="element_details_title"></h3>
        <ul class="element_details_list">
            <li class="element_details_uri"></li>
            <li class="element_details_type"></li>
        </ul>
    </div>
</section>

<section>
    <div id="element_texts">
        <h3 class="element_texts_title"></h3>
        <ul class="element_texts_list"></ul>
    </div>
</section>
 
 {% endblock %}

{% block maincontent %}
			<div id="network-visualization"></div>
			<!-- 
<div id="stop-layout" paused="no"><span>(Un)Pause</span></div>
			
<div id="node-types"><span id="node-types-span">Node Types: <select multiple id="node-types-select"><option selected="selected">People</option><option selected="selected">Institutions</option></select></span>
 -->
{% endblock %}

{% block endscripts %}
<script type="text/javascript">

// Disable text-specific functionality.
var text_present = false;

// Dimensions of the network visualization.
var width = 600,
    height = 500;
    
var network_id = "{{ network_id }}";

</script>

<script src="/static/browser/js/network.js"></script>
{% endblock %}