{% extends "browser/base_rightsidebar.html" %}

{% block sidebar %}

<section>
    <div id="network-visualization"></div>
    <div><a id="force">force-directed</a> | <a id="geo">geographic</a></div>
</section>

<section>
    <div id="instructions">Click on a node or edge for more information.</div>
    <div id="element_details">
        <h3 class="element_details_title"></h3>
        <ul class="element_details_list">
            <li class="element_details_uri"></li>
            <li class="element_details_type"></li>
        </ul>
    </div>
</section>

<section>
    <div id="element_texts">
        <h3 class="element_texts_title"></h3>
        <ul class="element_texts_list"></ul>
    </div>
</section>
 
 {% endblock %}

{% block maincontent %}
			<div id="network-visualization"></div>
			<div id="time-select"></div>
			<!-- 
<div id="stop-layout" paused="no"><span>(Un)Pause</span></div>
			
<div id="node-types"><span id="node-types-span">Node Types: <select multiple id="node-types-select"><option selected="selected">People</option><option selected="selected">Institutions</option></select></span>
 -->
{% endblock %}

{% block endscripts %}
<link rel="stylesheet" href="/static/browser/css/leaflet.css" />
<link rel="stylesheet" href="/static/browser/css/network.css" />

<script src="/static/browser/js/d3.min.js"></script>
<script src="/static/browser/js/leaflet.js"></script>    
<script src="/static/browser/js/network.js"></script>
<script src="/static/browser/js/map.js"></script>
<script type="text/javascript">

// Disable text-specific functionality.
var text_present = false;

// Dimensions of the network visualization.
var width = 600,
    height = 500;

</script>


<script>
network_visualization("{{ network_id }}");

$("#geo").click( function(d) {
	geographic_visualization("{{ network_id }}");
});
$("#force").click( function(d) {
	network_visualization("{{ network_id }}");
});
</script>
{% endblock %}